Package: qboros-electric-qbo-brain
Source: qboros-electric-qbo-brain
Version: 1.0-openqbo0
Priority: standard
Architecture: amd64
Depends: qboros-electric-qbo-listen, qboros-electric-qbo-talk, qboros-electric-qbo-face-vision, ros-electric-executive-smach
Maintainer: Arturo Bajuelos <arturo@openqbo.org>
Homepage: http://openqbo.org/wiki/doku.php?id=qbo_apps:ros_stack:qbo_brain
Description: Manages several Qbo apps, activating/deactivating dynamically ROS nodes in Qbo.
